ul {
    li {
        font: {
            family: 'Arvo';
            size: calc(10px + 2vmin);
        }
    }
    h2 {
        margin: 20px;
        size: 42px;
    }
    &.portfolio-list {
        li {
            font-size: 18px;
        }
    }
}
