body {
    color: $body-bg;
}

ul {
    padding: 10px;
    li {
        padding: 10px;
        color: white;
        list-style-type: none;
        display: inline;
    }
}

h1 {
    padding: 25px;
}
