header {
    background-color: $pale-teal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: $hipster-brown;
    h1 {
        font: {
            family: 'Arvo';
            size: 96px;
        }
    }
}

ul {
    font: {
        family: 'Arvo';
        size: 36px;
    }
    padding: 10px;
    li {
        padding: 10px;
        color: $hipster-brown;
        list-style-type: none;
        display: inline;
    }
}
